<div class="container">
   
    <div class="row">
        
        <h2>User Information</h2> &nbsp;<button class="btn btn-primary" type ="button" (click)="goTo('')">Home</button><br>


    </div>
    <hr>
    <div class="row">
        <div class="col text-right">
            <p class="lead">Name:</p>
        </div>
        <div class="col text-left">
            <p class="lead"> {{siteUser.fullName}} </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-right">
            <p class="lead">Email: </p>
        </div>
        <div class="col text-left">
            <p class="lead"> {{siteUser.email}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="lead">Telephone Number:</p>
        </div>
        <div class="col text-left">
            <p class="lead"> {{siteUser.telephoneNum}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="lead">Account Balance:</p>
        </div>
        <div class="col text-left">
            <p class="lead"> {{siteUser.accountBalance}} $</p>
        </div>
    </div>

    <!--EMPLOYEE ONLY-->
    <div *ngIf="siteUser.userType == 'EMPLOYEE'">
        <div class="row">
            <div class="col text-right">
                <p class="lead">Account Category:</p>
            </div>
            <div class="col text-left">
                <p class="lead">{{siteUser.employee.category}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <p class="lead">Qualifications:</p>
            </div>
            <div class="col text-left">
                <p class="lead">{{siteUser.employee.qualifications}}</p>
            </div>
        </div>
    </div>

    <!--EMPLOYER ONLY-->
    <div *ngIf="siteUser.userType == 'EMPLOYER'">
        <div class="row">
            <div class="col text-right">
                <p class="lead">Account Category:</p>
            </div>
            <div class="col text-left">
                <p class="lead">{{siteUser.employer.category}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <p class="lead">Industry:</p>
            </div>
            <div class="col text-left">
                <p class="lead">{{siteUser.employer.industry}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                data-target="#edit">Edit</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit your information</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="small">*Edit only fields that you want to change</p>
                        <form *ngIf="!isSubmitted" [formGroup]="editProfile" (ngSubmit)="onSubmit()" ngNativeValidate>

                            <label for="name">Full Name</label>
                            <input type="text" formControlName="name" class="form-control" required>

                            <label for="email">Email</label>
                            <input type="email" formControlName="email" class="form-control">


                            <label for="password">Password</label>
                            <input type="text" formControlName="password" class="form-control">

                            <label for="phone">Tel No.</label>
                            <input type="tel" formControlName="phone" class="form-control"> <br>

                            <div *ngIf="siteUser.userType == 'EMPLOYEE'">
                                <label for="qualifications">Qualifications</label>
                                <input type="text" formControlName="qualifications" class="form-control">
                                <br>
                            </div>

                            <div *ngIf="siteUser.userType == 'EMPLOYER'">
                                <label for="qualifications">Industry</label>
                                <input type="text" formControlName="industry" class="form-control">
                                <br>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Save changes</button>
                        </form>
                        <h4 *ngIf="isSubmitted">Changes have been saved</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) ="closePrompt()">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

</div>