<div>Membership: {{user_class}}</div> <div style="font-size: 10px; color: #00188f; cursor: pointer;">Request upgrade Membership</div>
<!--we may need to have a user request table for user to send request-->

<br>

<p>Hi, {{<!--Need to connect to the server to know the username-->}}</p>

<div>Jobs Posted:</div>
<div> <b><i>Jobs posted</i></b></div><!--will be replaced by the "PostedBy" table from db-->
<div class="user_rights">You can post, edit and delete jobs postings!</div>

<br><br>
<div>Contact us: 514-567-8910</div>
<button type="button">Logout</button>