<div>Membership: {{user_class}}</div> 
<div style="font-size: 10px; color: #00188f; cursor: pointer;">Request upgrade to Prime Membership</div>
<div style="font-size: 10px; color: #00188f; cursor: pointer;">Request upgrade to Gold Membership</div>
<!--we may need to have a user request table for user to send request-->

<br>

<input type="text" placeholder="Search for jobs here">

<div>Job category</div>
<select>
    <option>All</option>
    <option>Aviation</option>
    <option>IT</option>
    <option>Retail</option>
    <option>Others</option>
</select>

<br><br>

<div> <i>Connect to the database to show all jobs</i></div>

<br>

<button type="button">Logout</button>