<div class="container-fluid h-100 bg-info">

    <app-login-toolbar loginType="Employer"></app-login-toolbar>

    <div class="row">
        <div class=" border border-dark rounded-lg shadow-lg bg-light col-md-3 my-auto mx-auto px-4 py-5">

            <form [formGroup] ="loginForm" ngNativeValidate (ngSubmit)="onSubmit()">


                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" required>


                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName ="password" required>
                <br>
                <!---->
            <button type="submit" class="btn btn-primary float-right ml-2">Login</button>
            <button type="button" class="btn btn-primary float-right" (click)="goTo('create-account')">Create Account</button>
            <div class="f_password" (click)="goTo('forget-password')">Forget password</div>
            <!--the forget password can by handled handled through the user request tables-->
        </form>
        </div>
    </div>
</div>
